snippet strict
	'use strict';


snippet log
	console.log(${1});
snippet fn
	function(${1}) {
		${2}
	}
snippet iferr
	if (err) {
		return ${1:handle_error};
	}
snippet doc
	/**
	 * ${1}
	 */
snippet desc
	describe('${1}', ${2} => {
		${3}
	});
snippet it
	it('${1}', ${2} => {
		${3}
	});
snippet en
	end((err, res) => {
		${1}
	});
snippet react
	import React from 'react';

	class `Filename()` extends React.Component {
		render() {
			${0}
		}
	}

	export default `Filename()`;
